* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  background: #ff00dd;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 221, 1) 0%,
    rgba(0, 47, 255, 1) 100%
  );
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  margin-left: 4px;
  height: 40px;
  width: 40px;
}
.logo img:hover {
  transform: scale(2.1);
  transition: transform 0.7s;
}
.sub1 {
  color: #a30c8f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.paragraf-11 {
  color: rgb(6, 99, 6);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.banner {
  background: url("./") no-repeat center center/cover;
  height: 400px;
  text-align: center;
  padding: 10px 20px;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.banner p {
  font-size: 1.2rem;
  color: #06ad30;
}
.banner button {
  width: 100px;
  margin: 0 20px;
  display: block;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #141a74;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

}
