h1{
    color: rgb(0, 27, 183);
    text-transform: uppercase;
}
.paragraf-3{
color: goldenrod;
font-size: 18px;
font-family: Arial;
}

#header-1{
background-color: 
text-align: center;
}

h2{
    color: darkgreen;
    text-transform: uppercase;
}


#header-2{

text-align: center;
}

